.tabs-box{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;


  a.active-tab{
    color: #000000;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
    border-radius: 9px;
    border: 1px solid #000000;
    background-color: #fff;
  }
  a{
    color: #fff;
    font-family: Candara;
    font-size: 17px;
    font-weight: 700;
    line-height: 28.8px;
    text-transform: uppercase;
    letter-spacing: 1.06px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
    border-radius: 9px;
    background-color: #000000;
    border: 1px solid #000000;
    padding: 8px 20px;
    transition: 0.3s;
    cursor: pointer;
    margin-bottom: 20px;
    margin-right: 33px;
    &:last-child{
      margin-right: 0;
    }

    &:hover{
      color: #000000;
      box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
      border-radius: 9px;
      border: 1px solid #000000;
      background-color: #fff;
    }

  }
}
.item-box{
  display: inline-block;
  margin-left: -20px;
  margin-right: -20px;
  .item{
    display: inline-block;
    width: 360px;
    height: 360px;
    border-radius: 10px;
    border: 1px solid #000000;
    background-color: #ffffff;
    padding: 15px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;
    margin: 20px;
    &:hover{
      padding: 0;
     .item-inner{
       opacity: 1;
       .top-box{
         img{
           transform: scale(1);
         }
       }
     }
    }
    .item-inner-box{
      border-radius: 10px;
      height: 100%;
      transition: 0.3s;
      overflow: hidden;
      -webkit-background-size: cover;
      background-size: cover;
    }
    .item-inner{
      height: 100%;
      transition: 0.3s;
      position: relative;
      display: flex;
      flex-direction: column;
      opacity: 0;
      .top-box{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0,0,0,.45);
        flex-grow: 1;
        img{
          transform: scale(0.5);
          transition: 0.3s;
        }
      }
      .bottom-box{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0,0,0,.8);
        padding: 15px 30px;
        color: #ffffff;
        font-family: Gilroy;
        font-size: 18px;
        font-weight: 500;
        line-height: 25px ;
        /* Text style for "Р, оспись" */
        letter-spacing: 0.9px;

      }
    }
  }

}
.box-center{
  display: flex;
  justify-content: center;
  align-items: center;

}
.text-center{
text-align: center;

}
@media (max-width: 1200px) {
  .item-box {
    justify-content: space-around;
    .item{
    }
  }
}@media (max-width: 993px) {
  .item-box .item {
    margin: 7px;
  }
}
@media (max-width: 768px) {
  .item-box {
    justify-content: space-around;
    display: flex;
   flex-wrap: wrap;
    align-items: center;
    margin: 0;
    .item{
      display: flex;
      margin: 10px 0;
    }
  }
  .tabs-box a {
    margin-bottom: 15px;
    margin-right: 10px;
    padding: 5px 13px;
    font-size: 14px;

  }
}