.scheme{
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  text-align: center;
  h3{
    color: #fff;
  }
  .sheme-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .sheme{
      width: 310px;
      position: relative;
      border-radius: 10px;
      background-color: rgba(255,255,255,0.8);
      padding: 45px 35px;
      margin: 100px 10px 40px 10px ;
      .num{
        text-align: left;
        span{
          color: #000000;
          font-family: Gilroy-Bold;
          font-size: 60px;
          font-weight: 400;
          border-bottom: 1px solid #000;
          line-height: 44px;
          padding-bottom: 8px;

        }
      }
      .other-text{
        margin-top: 35px;
        color: #000000;
        font-family: Gilroy-Bold;
        font-size: 16px;
        font-weight: 500;
        text-align: left;
      }
      .free{
        position: absolute;
        top: -35px;
        background-color: #fff;
        padding: 12px 85px 12px 17px;
        left: 0;
        border-top-left-radius: 10px ;
        font-family: Candara;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;

      }
      .right-img{
        position: absolute;
        top: -100px;
        right: -20px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        img{
          width: 100%;
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .advantages .advent-box, .scheme .sheme-box {
justify-content: space-around;
  }
}
@media (max-width: 480px) {
  .scheme .sheme-box .sheme .right-img {
    width: 58%;
    top: -80px;
  }
}